    <!-- PC 푸터 영역 -->
    <footer id="footer" class="d-none d-lg-flex align-items-center">
        <div class="footerContent">
            <div class="footerTop d-flex">
                <h3><a href="/"><img src="/img/icon/footerLogo.svg" alt="락픽 하단 로고입니다"></a></h3>
                <div class="infoList d-flex justify-content-between align-items-center">
                    <ul class="footerList d-flex">
                        <li><a href="/sub/agreement.html">이용약관</a></li>
                        <li><a href="#none">개인정보처리방침</a></li>
                        <li><a href="#none">이메일무단수집거부</a></li>
                        <li><a href="#none">사업자정보확인</a></li>
                        <li><a href="#none">제휴문의</a></li>
                    </ul>
                    <ul class="snsList d-flex justify-content-center align-items-center">
                        <li><a href="#none"><img src="/img/sns/kakaotalk.svg" alt="카카오 채널입니다"></a></li>
                        <li><a href="#none"><img src="/img/sns/youtube.svg" alt="유튜브 채널입니다"></a></li>
                        <li><a href="#none"><img src="/img/sns/facebook.svg" alt="페이스북 채널입니다"></a></li>
                        <li><a href="#none"><img src="/img/sns/instagram.svg" alt="인스타그램 채널입니다"></a></li>
                        <li><a href="#none"><img src="/img/sns/naverblog.svg" alt="네이버블로그 채널입니다"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footerBottom d-flex justify-content-between">
                <div class="companyInfo">
                    <p class="companyInfo01">
                        대표이사 : 한수지　|　사업장소재지 : 대한민국 대한구 민국시 대한민국로 1, 락픽<br>
                        사업자등록번호 : 123-12-123456 　|　통신판매신고번호 : 제 2024-대한민국-1234 호<br>
                        개인정보보호책임자 : 한수지　|　호스팅 서비스 사업자 : 닷홈
                    </p>
                    <p class="copyright">Copyright © 2024 RAKPICK. All Rights Reserved.</p>
                </div>
                <div class="companyInfo02">
                    <span class="cs">고객센터</span>
                    <span class="csNumber">1234-1234</span>
                    <p class="timeInfo">
                        평일, 토요일 오전 7:00 ~ 오후 18:00<br>
                        점심시간 : 오후 12:00 ~ 오후 13:00 공휴일 (일요일 휴무)
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- 모바일 푸터 -->
    <footer id="m-footer" class="d-lg-none">
        <div class="footerContent d-flex flex-column justify-content-center align-items-center">
            <h3><a href="/"><img src="/img/icon/footerLogo.svg" alt="락픽 하단 로고입니다"></a></h3>
            <div class="infoList d-flex flex-column justify-content-center align-items-center">
                <ul class="footerList d-flex">
                    <li><a href="/sub/agreement.html">이용약관</a></li>
                    <li><a href="#none">개인정보처리방침</a></li>
                    <li><a href="#none">이메일무단수집거부</a></li>
                    <li><a href="#none">사업자정보확인</a></li>
                    <li><a href="#none">제휴문의</a></li>
                </ul>
                <ul class="snsList d-flex">
                    <li><a href="#none"><img src="/img/sns/kakaotalk.svg" alt="카카오 채널입니다"></a></li>
                    <li><a href="#none"><img src="/img/sns/youtube.svg" alt="유튜브 채널입니다"></a></li>
                    <li><a href="#none"><img src="/img/sns/facebook.svg" alt="페이스북 채널입니다"></a></li>
                    <li><a href="#none"><img src="/img/sns/instagram.svg" alt="인스타그램 채널입니다"></a></li>
                    <li><a href="#none"><img src="/img/sns/naverblog.svg" alt="네이버블로그 채널입니다"></a></li>
                </ul>
            </div>
            <div class="companyInfo text-center">
                <p class="companyInfo01">
                    대표이사 : 한수지　|　사업장소재지 : 대한민국 대한구 민국시 대한민국로 1, 락픽<br>
                    사업자등록번호 : 123-12-123456 　|　통신판매신고번호 : 제 2024-대한민국-1234 호<br>
                    개인정보보호책임자 : 한수지　|　호스팅 서비스 사업자 : 닷홈
                </p>
                <p class="copyright">Copyright © 2024 RAKPICK. All Rights Reserved.</p>
            </div>
            <div class="companyInfo02 text-center">
                <span class="cs">고객센터</span>
                <a href="tel:1234-1234" class="csNumber"><strong>1234-1234</strong></a>
                <p class="timeInfo">
                    평일, 토요일 오전 7:00 ~ 오후 18:00<br>
                    점심시간 : 오후 12:00 ~ 오후 13:00 공휴일 (일요일 휴무)
                </p>
            </div>
        </div>
    </footer>


    <!-- fix button -->
    <div id="fixBtn" class="d-flex flex-column justify-content-around align-items-center">
        <div class="kakaoBtn">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <img src="/img/sns/kakaotalk.svg" alt="카카오 채널입니다">
            </a>
        </div>
        <div class="topBtn">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <span></span>
            </a>
        </div>
    </div>

    <!-- 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- 부트스트랩 -->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- 플러그인 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="/js/plugin.js"></script>
    <script src="/js/main.js"></script>


</body>

</html>